<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= locals.title %></title>
        <meta name="description" content="<%= locals.description %>">
        <meta name="google-adsense-account" content="ca-pub-8535097512080329">
        <meta name="google-site-verification" content="SdQ3PymI8E1Oz6fhXHOuP8BzwzAi6I1Esk5wYGtp_fY" />
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link rel="stylesheet" type="text/css" href="/font-awesome-icons/css/all.min.css">
        <link rel="manifest" type="application/manifest+json" href="/manifest/site.webmanifest">
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
        <script defer type="text/javascript" src="js/script.js"></script>
    </head>

    <body class="bg-slate-950 text-blue-100 w-full md:w-4/5 m-auto">
        <%- include('../partials/header') %>
        <%- body %>
        <%- include('../partials/footer') %>
    </body>

</html>

