<section id="blog-content" class="p-8">
    <!-- blog heading container -->
    <div class=" w-full bg-slate-700">
            <div class="text-4xl px-20 pt-12 font-bold"><%- blog.blogTitle %></div>
            <div class="px-20 pt-6 pb-10">Posted on <%- blog.postedOn %> By <span class="font-bold"><%- blog.author %></span></div>
    </div>
    <!-- show blog content -->
    <div class="md:grid md:grid-cols-3 xl:grid-cols-8 lg:gap-8 lg:p-8">
        <div class="blog-content md:col-span-2 xl:col-span-5">
            <img loading="lazy" src="<%- blog.blogImg %>" alt="Blog Image" class="w-full">
            <%- blog.textContent %>
        </div>
        <div class="sidebar md:col-span-1 xl:col-span-3">
            <div class="tags-container bg-slate-900 p-8">
                <div class="uppercase font-bold pb-1">Related Topics</div>
                <% blog.tags.forEach(element => { %>
                    <a class="block underline ml-4" href="#"><%= element %></a>
                <% }); %>
            </div>
            <div class="related-blogs-container bg-slate-900 p-8 mt-8">
                <div class="uppercase font-bold pb-1">Related Content</div>
                <ul class="flex flex-wrap flex-grow gap-6 justify-center list-none">
                    <% for( let i = 0; i < data.length; i++ ) { %>
                        <li class="md:w-full">
                            <div class="flex min-w-20 max-w-60 xl:max-w-none flex-col md:align-middle xl:flex-row my-4">
                                <img class="w-full xl:w-2/5 aspect-square object-cover" src="<%= data[i].blogThumbnail %>" alt="thumbnail" width="100%" height="100%"> 
                                <a href="/blog/<%= data[i].uploadId %>" class="underline p-2"><%= data[i].blogTitle %></a>
                            </div>
                        </li>
                    <% }; %>
                </ul>
            </div>
        </div>
    </div>
</section>
